.nav {
  a {
    color: #e8e8e8;
    font-size: 12px;
    padding: 10px;
    border-radius: 3px;
    text-transform: capitalize;
    cursor: pointer;
    &.active-link,
    &:hover {
      background: #2f2f2f;
      box-shadow: 0 1px 0 0 hsla(0,0%,100%,.25), inset 0 1px 8px 0 rgba(0,0,0,.25);
    }
  }
}
