<app-header></app-header>
<section>
  <div class="container">
    <h1>Angular</h1>
    <hr>
    <p>Home page</p>
    <hr>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dicta dolore excepturi itaque laborum nulla quisquam recusandae repellendus sunt tenetur velit veritatis, voluptas, voluptatibus! Atque beatae eaque quam ut voluptatum.</span><span>Dolor eveniet impedit in mollitia rerum voluptatum! Atque culpa dicta magni pariatur vero. Distinctio, explicabo possimus? Blanditiis ea eveniet incidunt magnam rem! Debitis distinctio doloribus fuga labore nisi tempora tenetur!</span><span>Asperiores, at autem consectetur consequatur deleniti dolorem id impedit laudantium nisi omnis placeat quae quam qui quisquam quod sint ullam. Aspernatur, molestias tempore? Commodi consectetur eum illum laudantium non sunt!</span><span>Accusamus amet cumque ea enim explicabo hic labore laudantium modi nulla omnis porro quidem vel, voluptatibus? Aperiam asperiores deserunt eius est expedita magni molestias nam perferendis quaerat, quisquam, vitae voluptates!</span></p>
  </div>
</section>

