@import "src/assets/scss/GUI";
@import "src/assets/scss/buttons";
@import "src/app/components/header/header.component";
@import "src/app/components/post-form/post-form.component";

@font-face {
  font-family: HelveticaNeue;
  src: url("/assets/fonts/HelveticaNeue.ttf") format("ttf");
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

html, body { height: 100%; }

body {
  margin: 0;
  font: 12px/18px "Helvetica Neue", sans-serif;
  background-color: #fff;
  color: #333;
}

section {
  padding-top: 1em;
  padding-bottom: 1em;
}

ol {
  margin-left: 20px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.btn {
  display: inline-block;
  background: #333333;
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
  .btn:hover {
    opacity: 0.8;
  }
}

.form-control {
  display: block;
  margin-top: 0.3rem;
}

.card {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
}

input,
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  margin: 1.2rem 0;
}

hr {
  margin: .5rem 0;
}

.red {
  color: red;
}
.yellow {
  color: yellow;
}


.blue {
  color: blue;
}

.flex {
  display: flex;
}
